<li class="article">
  <span class="section-number"><%= article.course_pack.section_number_of(article) %>.</span>
  <div class="details">
    <span class="page-number"><%= article.course_pack.page_number_of(article) %></span>
    <span class="title"><%= article.title %>&nbsp;</span>
    <% unless article.author.nil? || article.author.empty? %>
        <div class="author info">By <%= article.author %></div>
    <% end %>
    <% unless article.reference.nil? || article.reference.empty? %>
        <div class="reference info"><%= article.reference %></div>
    <% end %>
    <% unless article.license.nil? || article.license.full_title.nil? || article.license.full_title.empty? %>
        <div class="license info">Licensed under a
          <% if article.license.url %>
            <%= link_to article.license.full_title, article.license.url %>
          <% else %>
            <%= article.license.full_title %>
          <% end %>
          </div>
    <% end %>
  </div>
</li>