<!DOCTYPE html>
<html>
<head>
  <title>CoursePacker</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %> <%= controller.action_name %>'>
    <div id="main">
      <%= render partial: 'layouts/navbar' %>
      <div class="container">
        <div class="content">
          <div class="row">
            <div class="span12">
              <%= render 'layouts/flash', flash: flash %>
              <%= yield %>
            </div>
          </div>
        </div>
      </div>
    </div>
   <%= render partial: 'layouts/footer' %>
</body>
</html>
